<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
/>
<main>
  <div class="w-100">
    <div class="d-flex justify-content-center mt-4">
      <div class="card w-75">
        <div
          class="card-header d-flex justify-content-center aling-items-center"
        >
          <h1 class="card-title">Registro de usuario</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <!--name-->
            <div class="d-flex justify-content-center mt-4">
              <div class="w-75">
                <mat-form-field appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input
                    matInput
                    placeholder="Pepe"
                    required
                    formControlName="name"
                    [(ngModel)]="user.name"
                  />

                  <mat-error
                    *ngIf="
                      form.controls['name'].errors &&
                      form.get('name')?.hasError('required')
                    "
                  >
                    Este campo es requerido
                  </mat-error>
                  <mat-error
                    *ngIf="
                      form.controls['name'].errors &&
                      form.get('name')?.hasError('minlength')
                    "
                  >
                    El minimo es de 3 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- email -->
            <div class="d-flex justify-content-center">
              <div class="w-75">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    placeholder="user@example.com"
                    required
                    formControlName="email"
                    [(ngModel)]="user.email"
                  />

                  <mat-error
                    *ngIf="
                      form.controls['email'].errors &&
                      form.get('email')?.hasError('required')
                    "
                  >
                    Este campo es requerido
                  </mat-error>
                  <mat-error
                    *ngIf="
                      form.controls['email'].errors &&
                      form.get('email')?.hasError('email')
                    "
                  >
                    Este campo debe ser un correo electronico
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- address -->
            <div class="d-flex justify-content-center">
              <div class="w-75">
                <mat-form-field appearance="fill">
                  <mat-label>Direción</mat-label>
                  <input
                    matInput
                    placeholder="Calle 20 # 30 Sur"
                    required
                    formControlName="address"
                    [(ngModel)]="user.address"
                  />

                  <mat-error
                    *ngIf="
                      form.controls['address'].errors &&
                      form.get('address')?.hasError('required')
                    "
                  >
                    Este campo es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- city -->
            <div class="d-flex justify-content-center">
              <div class="w-75">
                <mat-form-field appearance="fill">
                  <mat-label>Ciudad</mat-label>
                  <input
                    matInput
                    placeholder="Medellin"
                    required
                    formControlName="city"
                    [(ngModel)]="user.city"
                  />

                  <mat-error
                    *ngIf="
                      form.controls['city'].errors &&
                      form.get('city')?.hasError('required')
                    "
                  >
                    Este campo es requerido
                  </mat-error>
                  <mat-error
                    *ngIf="
                      form.controls['city'].errors &&
                      form.get('city')?.hasError('minlength')
                    "
                  >
                    El minimo es de 4 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- password -->
            <div class="d-flex justify-content-center">
              <div class="w-75">
                <mat-form-field appearance="fill">
                  <mat-label>Contraseña</mat-label>
                  <input
                    matInput
                    placeholder="*********"
                    required
                    formControlName="password"
                    [(ngModel)]="user.password"
                  />

                  <mat-error
                    *ngIf="
                      form.controls['password'].errors &&
                      form.get('password')?.hasError('required')
                    "
                  >
                    Este campo es requerido
                  </mat-error>
                  <mat-error
                    *ngIf="
                      form.controls['password'].errors &&
                      form.get('password')?.hasError('minlength')
                    "
                  >
                    La contraseña debe ser minimo de 8 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!--birthdate-->
            <div class="d-flex justify-content-center">
              <div class="w-75">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    required
                    formControlName="birthdate"
                    [(ngModel)]="user.birthdate"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                    *ngIf="
                      form.controls['birthdate'].errors &&
                      form.get('birthdate')?.hasError('required')
                    "
                  >
                    Este campo es requerido
                  </mat-error>
                </mat-form-field>
                <button mat-raised-button (click)="picker.open()">Abrir</button>
              </div>
            </div>
          </form>
        </div>

        <div class="d-flex justify-content-center">
          <button
            class="btn btn-success"
            type="submit"
            (click)="register()"
            [disabled]="form.invalid"
          >
            Registrar <i class="bi bi-person-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
